html,
body {
    overflow-x: hidden; /* Prevent scroll on narrow devices */
}

body {
    padding-top: 50px;
    background-color: #000000;
}

footer {
    padding: 30px 0;
}

.navbar-brand {
    font-size: 24px;
}

.navbar-container {
    padding: 20px 0 20px 0;
}

#brand .navbar-brand:hover{

}

.navbar-brand{
    font-size: 25px;
    font-weight: bold;
    color: #e4d821;
}

.nav .navbar-nav .pull-right li a{
    color: aqua;
}

.opaque-navbar {
    font-size: 18px;
    background-color: rgba(0, 0, 0, 0);
    /* Transparent = rgba(0,0,0,0) / Translucent = (0,0,0,0.5)  */
    height: 60px;
    border-bottom: 10px;
    transition: background-color .5s ease 0s;
}

.opaque-navbar.opaque {
    background-color: #000000;
    height: 50px;
    transition: background-color .5s ease 0s;
}

ul.dropdown-menu {
    background-color: black;
}


@media (max-width: 992px) {
    body
    {
        background:red;
    }
    .opaque-navbar {
        background-color: black;
        height: 60px;
        transition: background-color .5s ease 0s;
    }

}

.navbar-header{
    background-color: transparent;
}

.navbar.navbar-fixed-top.fixed-theme {
    background-color: #222;
    border-color: #080808;
    box-shadow: 0 0 5px rgba(0, 0, 0, .8);
}

.navbar-brand.fixed-theme {
    font-size: 18px;
}

.navbar-container.fixed-theme {
    padding: 0;
}

.navbar-brand.fixed-theme,
.navbar-container.fixed-theme,
.navbar.navbar-fixed-top.fixed-theme,
.navbar-brand,
.navbar-container {
    transition: 0.5s;
    -webkit-transition: 0.5s;
}

.js-tilt-android {
    width: 15vw;
    height: 15vw;
    display: block;
    background-color: #0a0301;
    background-image: linear-gradient(135deg, #f54000 0%, #2d0e04 100%, #0a0301 100%);
    box-shadow: 0 0 80px rgba(0, 0, 0, 0.3);
    transform-style: preserve-3d;
    transform: perspective(300px);
}

.js-tilt-inner-android {
    transform: translateZ(50px) translateY(-80%) translateX(-100%);
    text-align: center;
    vertical-align: middle;
    font-size: 25px;
    color: white;
    position: relative;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 50px;
}

.js-tilt-web {
    margin-top: 30px;
    width: 15vw;
    height: 15vw;
    display: block;
    background-color: #0a0301;
    background-image: linear-gradient(135deg, #f2f61d 0%, #bb7d00 100%, #916d24 100%);
    box-shadow: 0 0 80px rgba(0, 0, 0, 0.3);
    transform-style: preserve-3d;
    transform: perspective(300px);
}

.js-tilt-inner-web {
    transform: translateZ(50px) translateY(-80%) translateX(-100%);
    position: absolute;
    text-align: center;
    vertical-align: middle;
    font-size: 25px;
    color: black;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 50px;
}